{% extends 'base.html' %}
{% block title %}Inicio{% endblock %}
{% block content %}

<h1 class="title">{{ course.course_name }}</h1>
<h2 class="subtitle">Opciones</h2>
{% if user.is_staff %}
    <div class="card">
        <div class="card-content">
            <p class="title">
                Opciones del administrador
            </p>
            <p class="subtitle">
                -                
            </p>
        </div>
        <footer class="card-footer">
            <p class="card-footer-item">
                <span class="button is-primary" onclick="location.href='{% url 'csv_upload' course.course_slug %}'">
                    Cargar csv
                </span>
            </p>
        </footer>
    </div>
{% endif %}
<div class="card">
    <div class="card-content">
        <p class="title">
            Opciones disponibles
        </p>
        {% if intents %}
            <p>Existe un intento anterior sin finalizar abierto el {{ intents.0.quizintent_dateInit|date:"d/m/Y H:i" }}. Pulse en Iniciar Test para continuar</p>
        {% endif %}
        {% if finalized %}        
            <table class="table">
                <thead>
                    <tr>
                        <th><abbr title="Finalizado">Finalizado</abbr></th>
                        <th><abbr title="Aciertos">Ac.</abbr></th>
                        <th><abbr title="Errores">Er.</abbr></th>
                        <th><abbr title="No contestadas">Nc.</abbr></th>
                        <th><abbr title="Puntuación">Ptos.</abbr></th>
                    </tr>
                </thead>
                <tbody>                
                {% for quiz in finalized %}
                    <tr>
                        <td class="is-size-7">{{ quiz.quizfinalized_dateEnd|date:"d/m/y H:i" }}</td>
                        {% with indice=forloop.counter0 %}

                            <td>{% cycle aciertos.0 aciertos.1 aciertos.2 aciertos.3 aciertos.4 %}</td>
                            <td>{% cycle errores.0 errores.1 errores.2 errores.3 errores.4 %}</td>
                            <td>{% cycle nocontesta.0 nocontesta.1 nocontesta.2 nocontesta.3 nocontesta.4 %}</td>                    
                            <th class="has-text-centered {% if quiz.quizfinalized_result < 5 %}has-text-danger{% endif %}">{{ quiz.quizfinalized_result }}</td>
                        {% endwith %}
                    </tr>
                {% endfor %}
                
                </tbody>
            </table>
            <nav class="pagination" role="navigation" aria-label="pagination">
                {% if finalized.has_previous %}
                    <a class="pagination-previous" href="?page={{ finalized.number|add:'-1' }}">Previous</a>
                {% endif %}
                {% if finalized.has_next %}
                    <a class="pagination-next" href="?page={{ finalized.number|add:'1' }}">Next page</a>
                {% endif %}
                <ul class="pagination-list">
                    {% for i in finalized.paginator.page_range %}
                        {% if finalized.number == i %}
                        <li>
                            <a class="pagination-link is-current" aria-label="Page 1" aria-current="page">{{i}}</a>
                        </li>
                        {% else %}
                        <li>
                            <a class="pagination-link" aria-label="" href="?page={{i}}">{{i}}</a>
                        </li>
                        {% endif %}                        
                    {% endfor %}
                </ul>
              </nav>
        {% endif %}

    </div>
    <footer class="card-footer">
        <p class="card-footer-item">
            <span class="button is-link" onclick="location.href='{% url 'init_quiz' course.course_slug %}'">
                {% if intents %}Continuar Test{% else %}Iniciar Nuevo Test{% endif %}
            </span>
        </p>
        <p class="card-footer-item">
            <span class="button is-warning" onclick="location.href='{% url 'csv_upload' course.course_slug %}'">
                Ver Resultados
            </span>
        </p>
    </footer>
    <footer class="card-footer">
        <p class="card-footer-item">
            <span class="button is-danger" onclick="location.href='{% url 'csv_upload' course.course_slug %}'">
                Reiniciar
            </span>
        </p>
        <p class="card-footer-item">
            <span class="button is-success" onclick="location.href='{% url 'index' %}'">
                Volver
            </span>
        </p>
    </footer>
</div>
{% endblock content %}
{% block javascript %}
    <script>        
    </script>
{% endblock %}