{% extends 'base.html' %}
{% block title %}Inicio{% endblock %}
{% block content %}

<h1 class="title">{{ course.course_name }}</h1>
<h2 class="subtitle">Opciones</h2>
{% if user.is_staff %}
    <div class="card">
        <div class="card-content">
            <p class="title">
                Opciones del administrador
            </p>
            <p class="subtitle">
                -                
            </p>
        </div>
        <footer class="card-footer">
            <p class="card-footer-item">
                <span class="button is-primary" onclick="location.href='{% url 'csv_upload' course.course_slug %}'">
                    Cargar csv
                </span>
            </p>
        </footer>
    </div>
{% endif %}

<div class="card mt-3">
    <div class="card-content">
        <p class="title">
            Opciones disponibles
        </p>
        {% if intents %}
            
        {% endif %}
        {% if finalized %}        
            <table class="table is-striped is-fullwidth">
                <thead>
                    <tr>
                        <th><abbr title="Finalizado">Finalizado</abbr></th>
                        <th><abbr title="Aciertos">Ac.</abbr></th>
                        <th><abbr title="Errores">Er.</abbr></th>
                        <th><abbr title="No contestadas">Nc.</abbr></th>
                        <th><abbr title="Puntuación">Ptos.</abbr></th>
                    </tr>
                </thead>
                <tbody>                
                {% for quiz in finalized %}
                    <tr class="has-text-centered is-size-7">
                        <td class="is-size-7"><a href="{% url 'result_quiz' course_slug=course.course_slug quizfinalized_id=quiz.id %}">{{ quiz.quizfinalized_dateEnd|date:"d/m/y H:i" }}</a></td>
                        {% with indice=forloop.counter0 %}
                            <td>{% cycle aciertos.0 aciertos.1 aciertos.2 aciertos.3 aciertos.4 %}</td>
                            <td>{% cycle errores.0 errores.1 errores.2 errores.3 errores.4 %}</td>
                            <td>{% cycle nocontesta.0 nocontesta.1 nocontesta.2 nocontesta.3 nocontesta.4 %}</td>                    
                            <th class="is-size-6 has-text-centered {% if quiz.quizfinalized_result < 5 %}has-text-danger{% endif %}">{{ quiz.quizfinalized_result }}</td>
                        {% endwith %}
                    </tr>
                {% endfor %}
                
                </tbody>
            </table>            
            <nav class="pagination" role="navigation" aria-label="pagination">
                {% if finalized.has_previous %}
                    <a class="pagination-previous" href="?page={{ finalized.number|add:'-1' }}">Previous</a>
                {% else %}
                    <button class="pagination-previous is-disabled" href="">Previous</button>
                {% endif %}
                {% if finalized.has_next %}
                    <a class="pagination-next" href="?page={{ finalized.number|add:'1' }}">Next page</a>
                {% endif %}
                <ul class="pagination-list">
                {% if finalized.number|add:'-2' >= 1 %}
                    <li>
                        <a class="pagination-link" aria-label="" href="?page=1">{{1}}</a>
                    </li>
                    <li>
                        <span class="pagination-ellipsis">&hellip;</span>
                    </li>
                {% else %}<!--
                    <li>
                        <span class="pagination-ellipsis">{{ finalized.number|add:'-3' }}</span>
                    </li>-->
                {% endif %}
                
                {% for i in paginator.page_range %}
                    
                    {% if finalized.number == i %}
                    <li>
                        <a class="pagination-link is-current" aria-label="Page 1" aria-current="page">{{i}}</a>
                    </li>
                    {% elif i == finalized.number|add:'-1' or i == finalized.number|add:1 %}
                    <li>
                        <a class="pagination-link" aria-label="" href="?page={{i}}">{{i}}</a>
                    </li>
                    {% elif i > paginator.num_pages|add:'-3' %}
                    <li>
                        <a class="pagination-link" aria-label="" href="?page={{i}}">{{i}}</a>
                    </li>
                    {% endif %}

                {% endfor %}
                
                {% if paginator.num_pages >= finalized.number|add:2 %}
                    <li>
                        <span class="pagination-ellipsis">&hellip;</span>
                    </li>
                    <li>
                        <a class="pagination-link" aria-label="" href="?page={{paginator.num_pages}}">{{paginator.num_pages}}</a>
                    </li>
                {% endif %}


                </ul>
            </nav>

        {% endif %}
    </div>
            
    <div class="card-content">
        {% if intents %}
            <p>Existe un intento anterior sin finalizar abierto el {{ intents.0.quizintent_dateInit|date:"d/m/Y H:i" }}. Pulse en <a href="{% url 'init_quiz' course_slug=course.course_slug %}" class="button is-link is-small">Continuar Test</a> para continuar</p>
        {% else %}
            <div class="box">
                <form action='{% url 'init_quiz' course_slug=course.course_slug %}' method="post">
                    {% csrf_token %}                                            
                        <div class="columns">
                            <div class="column">
                                <div class="subtitle">
                                    Añada temas al cuestionario
                                </div>
                                <div class="select is-multiple">
                                    <ul id="id_select_theme">
                                        {% for theme in themes %}
                                            <li>
                                                <label for="id_select_theme_{{ forloop.counter }}">
                                                    <input type="checkbox" name="select_theme" value="{{ theme.question_theme }}" id="id_select_theme_{{ forloop.counter }}" >
                                                    {{ theme.question_theme }}
                                                </label>
                                            </li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            </div>
                            <div class="column">
                                <div class="subtitle">
                                    Otras Opciones
                                </div>
                                <div class="control">
                                    <label for="id_select_random">
                                        <input type="checkbox" name="select_random" value="1" id="id_select_random" checked="checked"> Alterar el orden de las respuestas                                
                                    </label>
                                </div>
                                <div class="control">
                                    <div class="subtitle mt-3">
                                        Número de preguntas
                                    </div>
                                    <label for="id_select_number">                                        
                                        <div class="select is-rounded">
                                        <select id="id_select_number" name="select_number">
                                            <option value="10" selected disabled hidden>Choose option</option>
                                            <option value="5">5</option>
                                            <option value="10">10</option>
                                            <option value="20">20</option>
                                            <option value="30">30</option>
                                        </select>
                                        </div>
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="is-6 has-text-centered">                        
                            <button class="button is-link" type="submit">Iniciar Nuevo Test</button>
                        </div>
                    <!--</div>-->
                </form>
            </div>
        {% endif %}           
    </div>
    
    
        
    
    <footer class="card-footer">
        <p class="card-footer-item">
            <span class="button is-danger" onclick="location.href='{% url 'csv_upload' course.course_slug %}'">
                Reiniciar
            </span>
        </p>
        <p class="card-footer-item">
            <span class="button is-success" onclick="location.href='{% url 'index' %}'">
                Volver
            </span>
        </p>
    </footer>
</div>
{% endblock content %}
{% block javascript %}
    <script>
        function init_quiz(){
            $.redirect('{% url 'init_quiz' course_slug=course.course_slug %}')
        }
    </script>
{% endblock %}