{% extends 'base.html' %}
{% block title %}Editar pregunta{% endblock %}
{% block content %}
    <h1 class="title">Editar pregunta nº {{ question.id }}</h1>
    <h2 class="subtitle">{{ question.question_theme }}. {{ question.question_chapter }}</h2>        
    <form method="POST">
        {%  csrf_token %}
        <input type="hidden" name="referer" value="{{ referer }}">
        <input type="hidden" id="hiddenValue" name="question_valid" value="{{ question.question_valid }}">
        <div class="field">
            <label class="label">Pregunta</label>
            <div class="control">
                <textarea class="textarea is-medium is-primary" name="question_text" cols="40" rows="3" required id="id_question_text">{{ form.question_text.value }}</textarea>
            </div>
        </div>
        <div class="field">
            <label class="label">Respuestas</label>
            <div class="columns">
                <div class="column is-one-fifth">
                    <div class="control">     
                        <span onclick="changeOption(this,1)" class="button {% if question.question_valid == 1 %}is-success{% else %}is-warning{% endif %}">1</span>
                    </div>
                </div>
                <div class="column">          
                    <div class="control">
                        <textarea class="textarea is-medium is-link" name="question_response1" cols="40" rows="3" required id="id_question_response1">{{ form.question_response1.value }}</textarea>
                    </div>
                </div>
            </div>

            <div class="columns">
                <div class="column is-one-fifth is-centered">
                    <div class="control ">                        
                        <span onclick="changeOption(this,2)" class="button {% if question.question_valid == 2 %}is-success{% else %}is-warning{% endif %}">2</span>
                    </div>
                </div>
                <div class="column is-four-fifths">
                    <div class="control ">
                        <textarea class="textarea is-medium is-link" name="question_response2" cols="40" rows="3" required id="id_question_response2">{{ form.question_response2.value }}</textarea>
                    </div>
                </div>
            </div>

            <div class="columns">
                <div class="column is-one-fifth is-centered">
                    <div class="control ">                        
                        <span onclick="changeOption(this,3)" class="button {% if question.question_valid == 3 %}is-success{% else %}is-warning{% endif %}">3</span>
                    </div>
                </div>
                <div class="column is-four-fifths">
                    <div class="control ">
                        <textarea class="textarea is-medium is-link" name="question_response3" cols="40" rows="3" required id="id_question_response3">{{ form.question_response3.value }}</textarea>
                    </div>
                </div>
            </div>

            <div class="columns">
                <div class="column is-one-fifth is-centered">
                    <div class="control ">                        
                        <span onclick="changeOption(this,4)" class="button {% if question.question_valid == 4 %}is-success{% else %}is-warning{% endif %}">4</span>
                    </div>
                </div>
                <div class="column is-four-fifths">
                    <div class="control ">
                        <textarea class="textarea is-medium is-link" name="question_response4" cols="40" rows="3" required id="id_question_response4">{{ form.question_response4.value }}</textarea>
                    </div>
                </div>
            </div>
        </div>
        <div class="field">
            <label class="label">Explicación</label>
            <div class="control">
                <textarea class="textarea is-medium is-primary" name="question_explanation" cols="40" rows="3" id="id_question_explanation">{{ form.question_explanation.value|default_if_none:'' }}</textarea>
            </div>
        </div>
        <div class="field is-grouped">
            <div class="control">
                <button class="button is-link">Actualizar Pregunta</button>
            </div>            
        </div>
    </form>
{% endblock %}
{% block javascript %}
<script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
<script>
    function changeOption(element,value){
        // cambiar color a botones y activar
        $("span").each(function(i){            
            $(this).attr("class", "button is-warning");
        });
        $(element).attr("class", "button is-success");
        $("#hiddenValue").val(value)
    }
</script>
{% endblock %}