{% extends 'base.html' %}
{% block title %}Inicio{% endblock %}
{% block content %}
<div ></div>
<h1 class="title">{{ course.course_name }}</h1>
<h2 class="subtitle">Completa el test</h2>
{% for preguntas in questionsList %}
    {% if forloop.counter0 == indice %}        
        <div id="thequestion" class="card {% if questionResponse == None %}has-background-grey-lighter{% else %}has-background-warning{% endif %}">
            <div class="card-header">
                <div class="card-content">
                    <p class="title">Pregunta nº {{ question|add:'1'}}</p>
                    <p class="subtitle">
                        {{ preguntas.fields.question_theme }} | {{ preguntas.fields.question_chapter }}
                    </p>
                </div>
            </div>
            <div class="card-content">
                <div class="content">
                    <p class="subtitle">
                        {{ preguntas.fields.question_text }}
                    </p>
                    <form>
                        <div class="control ml-3">
                            <p class=""><label class="radio">
                                <input type="radio" id="Answer_1" name="Answer_{{question}}" value="1" onclick="selectOption({{ question }}, 1)"> {{ preguntas.fields.question_response1 }}
                            </label></p>
                            <p><label class="radio">
                                <input type="radio" id="Answer_2" name="Answer_{{question}}" value="2" onclick="selectOption({{ question }}, 2)"> {{ preguntas.fields.question_response2 }}
                            </label></p>
                            <p><label class="radio">
                                <input type="radio" id="Answer_3" name="Answer_{{question}}" value="3" onclick="selectOption({{ question }}, 3)"> {{ preguntas.fields.question_response3 }}
                            </label></p>
                            <p><label class="radio">
                                <input type="radio" id="Answer_4" name="Answer_{{question}}" value="4" onclick="selectOption({{ question }}, 4)"> {{ preguntas.fields.question_response4 }}
                            </label></p>
                        </div>
                        <div class="control">
                            <div class="button" id="button_mark" onclick="selectOption({{ question }}, 0)" disabled>Desmarcar</div>
                        </div>
                    </form>
                </div>
            </div>
            <footer class="card-footer">
                <p class="card-footer-item">
                    <button class="button is-primary ml-3" onclick="changeQuestion({{ question|add:'-1' }})" {% if question == '0' %}disabled{% endif %}>Anterior</button>
                    <button class="button is-primary ml-3" onclick="changeQuestion({{ question|add:'+1' }})" {% if question == '9' %}disabled{% endif %}>Siguiente</button>
                </p>
                <p class="card-footer-item">
                    <button class="button is-link" onclick="endQuiz()">Finalizar Test</button>
                </p>
            </footer>
        </div>
    {% endif %}
{% empty %}
        <p>vacio</p>
{% endfor %}
{% endblock content %}

{% block javascript %}
<script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
<script>
    //Todas a cero
    document.querySelectorAll('[type="radio"]').forEach((x) => x.checked = false);
    //document.getElementById("button_mark").disabled=true;
    function uncheck(){
        document.querySelectorAll('[type="radio"]').forEach((x) => x.checked = false);
    }
    //Checked list
    {% if questionResponse != None %}
        document.getElementById("Answer_{{questionResponse}}").checked=true;
        document.getElementById("button_mark").removeAttribute("disabled");
    {% endif %}

    function getCookie(name) {
        let cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            const cookies = document.cookie.split(';');
            for (let i = 0; i < cookies.length; i++) {
                const cookie = cookies[i].trim();
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }
    const csrftoken = getCookie('csrftoken');

    function changeQuestion(value){        
        var URLactual = window.location;
        $.ajax({
            url: '/processOption/',
            type: 'POST',
            headers: {
                'X-CSRFToken': csrftoken
            },
            data: {
                'key': value,
                'id': {{ course.id }}
            },
            dataType: 'json',
            success: function (data) {
                if(data.result=="Success"){
                    location.reload()
                }
            }            
        });
    }

    function selectOption(value, option){        
        var URLactual = window.location;        
        $.ajax({
            url: '/sendOption/',
            type: 'POST',
            headers: {
                'X-CSRFToken': csrftoken
            },
            data: {
                'key': value,
                'value': option,
                'id': {{ course.id }}
            },
            dataType: 'json',
            success: function (data) {                
                if(data.result=="Success0"){                    
                    $("#thequestion").attr("class", "has-background-warning");
                }
                if(data.result=="Success1"){
                    uncheck()
                    $("#thequestion").attr("class", "has-background-grey-lighter");
                }
            },
            error: function(xhr, status){
                console.log(xhr, status)
            }
        });
    }

    function endQuiz(){
        $.ajax({
            url: '/endQuiz/',
            type: 'POST',
            headers: {
                'X-CSRFToken': csrftoken
            },
            data: {
                'key': csrftoken,
                'id': {{ course.id }}
            },
            dataType: 'json',
            success: function (data) {
                if(data.result=="Success"){
                    location.href="{% url 'course' course.course_slug %}"
                }
            }
        })
    }    
</script>
{% endblock %}