{#{% extends "socialaccount/base.html" %}#}
{% extends "base.html" %}
{% load i18n %}

{% block title %}Sign In{% endblock %}

{% block content %}
{% if process == "connect" %}
<h1>
    {% blocktrans with provider.name as provider %}Connect {{ provider }}{% endblocktrans %}
</h1>
<p>
    {% blocktrans with provider.name as provider %}You are about to connect a new third party account from {{ provider
    }}.{% endblocktrans %}
</p>
{% else %}
<h1 class="title">
    {% blocktrans with provider.name as provider %}
        Iniciar sesión con {{ provider }}
    {% endblocktrans %}
</h1>
<h2 class="subtitle">
    {% blocktrans with provider.name as provider %}
    Está a punto de iniciar sesión con tu cuenta de {{ provider }}.
    {% endblocktrans %}
</h2>
<p>
    TodoTest sólo utilizará tu perfil de Google para iniciar sesión, guardar los test que vayas haciendo y ofrecerte los
    resultados en pantalla.
    TodoTest tendrá conocimiento exclusivamente y sólo de tu correo electrónico y nombre de usuario. Podrás darte de
    baja y solicitar la rectificación y/o cancelación de tus datos en cualquier momento mediante correo electrónico a:
    davidbermudez@jerez.es.
    TodoTest no envía ni utiliza tu dirección de correo electrónico para enviarte mensajes. No se ceden datos de ningún
    tipo a terceros
</p>
{% endif %}

<form method="post">
    {% csrf_token %}
    <button type="submit" class="button is-primary">Continuar</button>
</form>
{% endblock %}