{% load static %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}TodoTest{% endblock %}</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
</head>

<body>
    <nav class="navbar" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
            <a class="navbar-item" href="{% url 'index' %}">
                <img src="{% static 'img/TodoTest.png' %}" width="112" height="28">
            </a>

            <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false"
                data-target="navbarBasicExample">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>

        <div id="navbarBasicExample" class="navbar-menu">
            <div class="navbar-start">
                <a class="navbar-item">
                    Home
                </a>

                <a class="navbar-item">
                    Documentation
                </a>

                <div class="navbar-item has-dropdown is-hoverable">
                    <a class="navbar-link">
                        More
                    </a>

                    <div class="navbar-dropdown">
                        <a class="navbar-item">
                            About
                        </a>
                        <a class="navbar-item">
                            Jobs
                        </a>
                        <a class="navbar-item">
                            Contact
                        </a>
                        <hr class="navbar-divider">
                        <a class="navbar-item">
                            Report an issue
                        </a>
                    </div>
                </div>
            </div>

            <div class="navbar-end">
                <div class="navbar-item">
                    <div class="buttons">
                        {% if user.is_authenticated %}
                            <a class="button is-primary" href="{% url 'account_email' %}"">
                                <strong>{{ user.username }}</strong>
                            </a>
                            <a class="button is-danger" href="{% url 'logout' %}">
                                Logout
                            </a>
                        {% else %}
                            <a class="button is-primary" href="{% url 'account_signup' %}"">
                                <strong>Sign up</strong>
                            </a>
                            <a class="button is-light" href="{% url 'account_login' %}">
                                Log in
                            </a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </nav>
    <section class="section has-background-warning">
        <div class="container">
            <nav class="level">
                <!-- Left side -->
                <div class="level-left">
                    <div class="level-item">
                        <h1 class="title">
                            <img src="{% static 'img/TodoTest.png' %}">
                        </h1>
                    </div>
                    <div class="level-item">
                        <div class="field has-addons">

                        </div>
                    </div>
                </div>
                <!-- Right side -->
                <div class="level-right">                    
                    {% if user.is_authenticated %}
                        {% if user.is_staff %}
                        <p class="level-item"><a href="{% url 'admin:index' %}">Admin</a></p>
                        {% endif %}                        
                    {% endif %}
                </div>
            </nav>
        </div>
    </section>
    {% block body %}
    {% if messages %}
    <div class="container mt-3">
        {% for message in messages %}
        <div class="notification is-primary">
            <button class="delete"></button>
            {{message}}
        </div>
        {% endfor %}
    </div>
    {% endif %}
    {% endblock %}
    <section class="section">
        <div class="container">
            {% block content %}{% endblock content %}
        </div>
    </section>
    <script src="https://kit.fontawesome.com/42adee8d9b.js" crossorigin="anonymous"></script>
    {% block javascript %}{% endblock %}
    <script>
        document.addEventListener('DOMContentLoaded', () => {
            (document.querySelectorAll('.notification .delete') || []).forEach(($delete) => {
                const $notification = $delete.parentNode;

                $delete.addEventListener('click', () => {
                    $notification.parentNode.removeChild($notification);
                });
            });
        });
    </script>
</body>

</html>