{% extends 'base.html' %}
{% block title %}Inicio{% endblock %}
{% block content %}

{% if courses|length  != 0 %}
    <h1 class="title">Cursos Disponibles</h1>
    <h2 class="subtitle">Selecciona o solicita acceso a tu curso</h2>
    {% for course in courses %}
    <div class="card">
        <div class="card-content">
            <p class="title">
                {{ course.course_name }}
                {{ course.id }}
            </p>
            <p class="subtitle">
                {{ course.course_type }}
            </p>            
        </div>
        <footer class="card-footer">
            {% if course.registration_date == None %}
                <!-- Not registered -->
                {% if course.course_type == 'GPL/GNU' %}                
                    <p class="card-footer-item">
                        <span class="button is-primary" onclick="location.href='{% url 'registration' course.course_slug %}'">                            
                            Matricúlate
                        </span>
                    </p>
                {% else %}
                    <p class="card-footer-item">
                        <span class="button" onclick="location.href='{% url 'registration' course.course_slug %}'">
                            {% if course.registration_date == None %}
                                Matricúlate
                            {% endif %}
                        </span>
                    </p>
                {% endif %}
            {% else %}
                <!-- Registered -->
                <p class="card-footer-item">
                    <span class="button is-info" onclick="location.href='{% url 'course' course.course_slug %}'">                        
                        Ir al Curso
                    </span>
                </p>
                <p class="card-footer-item">
                    <span class="button is-danger" onclick="location.href='{% url 'unsubscribe' course.course_slug %}'">
                        Darte de Baja
                    </span>
                </p>
            {% endif %}            
            
        </footer>
    </div>
    {% endfor %}
{% else %}
    <p>No existen cursos</p>
{% endif %}
{% endblock content %}
{% block javascript %}
    <script>        
    </script>
{% endblock %}