{% extends 'base.html' %}
{% block title %}Inicio{% endblock %}
{% block content %}

<section class="section">
    <h1 class="title">Políticas de Privacidad</h1>

    <div class="container is-widescreen">
        <p class="has-text-right mb-5">19/12/2022</p>
        <p>En nuestra página web, valoramos y respetamos la privacidad de nuestros usuarios. A continuación, describimos
            las prácticas de privacidad que seguimos en nuestro sitio web para proteger su información personal y
            garantizar su privacidad.</p>
        <h2 class="subtitle mt-5">Recopilación de información:</h2>
        <p>Sólo recopilamos información personal que nos proporciona voluntariamente a través de formularios en nuestro
            sitio web o mediante el uso de nuestros servicios. Esta información puede incluir su nombre, dirección de
            correo electrónico, número de teléfono y cualquier otra información que nos proporcione.</p>
        <h2 class="subtitle mt-5">Utilización de la información:</h2>
        <p>Utilizamos la información que recopilamos únicamente con el fin de proporcionarle los servicios solicitados y
            mejorar su experiencia en nuestro sitio web. También podemos utilizar su información para enviarle correos
            electrónicos o mensajes de texto con información relevante o promocional, siempre y cuando haya optado por
            recibir dicha información.</p>
        <h2 class="subtitle mt-5">Compartir información:</h2>
        <p>No compartimos su información personal con terceros a menos que sea necesario para proporcionarle los
            servicios solicitados o si es requerido por ley. Si decidimos utilizar terceros para procesar su
            información, tomaremos medidas para garantizar que dichos terceros protejan adecuadamente su información y
            la utilicen únicamente para los fines para los que fue proporcionada.</p>
        <h2 class="subtitle mt-5">Cookies:</h2>
        <p>Utilizamos cookies en nuestro sitio web para mejorar su experiencia y para recopilar información sobre el uso
            de nuestro sitio. Las cookies son pequeños archivos de datos que se almacenan en su ordenador y nos permiten
            reconocerlo cuando regresa a nuestro sitio web. Puede configurar su navegador para rechazar las cookies,
            pero esto puede afectar el rendimiento de nuestro sitio.</p>
        <h2 class="subtitle mt-5">Enlaces a sitios web de terceros:</h2>
        <p>Nuestro sitio web puede contener enlaces a otros sitios web de terceros. No tenemos control sobre las
            prácticas de privacidad de dichos sitios web y le recomendamos que revise las políticas de privacidad de
            cada uno de ellos antes de proporcionar su información personal.</p>
        <h2 class="subtitle mt-5">Cambios en nuestra política de privacidad:</h2>
        <p>Nos reservamos el derecho a modificar nuestra política de privacidad en cualquier momento. Si realizamos
            cambios materiales en nuestra política de privacidad, publicaremos un aviso en nuestro sitio web</p>
    </div>
</section>
<footer class="footer">
    <div class="content has-text-centered">
        <p>
            Texto facilitado por <a href="https://chat.openai.com/">ChatGPT</a>
        </p>
    </div>
</footer>
{% endblock content %}
{% block javascript %}
<script>
</script>
{% endblock %}